@font-face {
  font-family: outfit;
  src: url(./fonts/Outfit-VariableFont_wght.ttf);
}

:root {
  --color-light-grey: #d5e1ef;
  --color-white: #ffffff;
  --color-dark-navy: #1f314f;
  --color-grey: #7d889e;
}

/* -----CSS RESET----- */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}
/* -----CSS RESET----- */

body {
  font-family: outfit;
  text-align: center;
  background-color: var(--color-light-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.qr-card {
  max-width: 20rem;
  background-color: var(--color-white);
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 24px 24px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 1.375rem
}

img {
  border-radius: 10px;
}

.text-wrapper {
  padding: 0 0.625rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h1 {
  color: var(--color-dark-navy);
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.25;
}

p {
  color: var(--color-grey);
  font-size: 1rem;
  font-weight: 400;
}

.attribution {
  font-size: 0.75rem;
}

.attribution a {
  color: #003d9b;
}